.tag-menu {
  display: flex;
  flex-direction: column;

  &__separator {
    width: 100%;
    border-bottom: solid 1px #c3c3c3;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__tag {
    display: inline-block;
    color: #333;
  }

  &__general-tag-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  &__characters-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  &__artist {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
}
