<div class="container">
  <div class="row">
    <div class="col-3">
      <tag-menu [tags]="availableTags"></tag-menu>
    </div>
    <div class="col-9 main-page">
      <!--image table-->
      <div class="main-page__image-container">
        <image-preview *ngFor="let image of images | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalPostCount }"
                       [image]="image"></image-preview>
      </div>
      <div class="main-page__navigation">
        <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
