.image-preview {
 &__container {
   display: inline-block;
   flex-direction: column;
   align-items: center;
   max-width: 120px;
   height: auto;
   margin: 20px;

   & img {
     width: 100%;
   }
 }
}
